.ion-color-secondarysuccess {
  --ion-color-base: #d1ffdb;
  --ion-color-base-rgb: 209,255,219;
  --ion-color-contrast: #2dd36f;
  --ion-color-contrast-rgb: 45, 211, 111;
  --ion-color-shade: #b8e0c1;
  --ion-color-tint: #d6ffdf;
}

p{
  margin: 20px;
  text-align: justify;
  font-weight: bold;
}

.boton{
  text-align: center;
  padding-top: 35px;
  font-size: 25px;
  height: 100px;
}
ion-col{
  height: 100px;
}
img{
  margin-left: 250px;
  margin-right: 250px;
  width: 50%;
  height: 50%;
}

