<ion-header>
  <ion-toolbar>
    <ion-title>Vehiculos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
	<ion-button expand="block" color="success" (click)='actualizarNuevos("Vehiculos")'>Actualizar Vehiculos</ion-button>
	<ion-list>
		<ion-list-header lines="full">
			<ion-label id="label-list">Listado de Vehiculos</ion-label>
		</ion-list-header>		
		<ion-item lines="inset">
			<ion-grid class="grid-list">
				<ion-row class="header-row">
					<ion-col class="column-border" size="7">
						ID
					</ion-col>
					<ion-col class="column-border" size="9">
						Placa
					</ion-col>
					<ion-col class="column-border" size="34">
						Ultima Actualizacion
					</ion-col>
					<ion-col class="column-border" size="10">
						Peso
					</ion-col>
					<ion-col class="column-border" size="11">
						Temperatura
					</ion-col>
					<ion-col class="column-border" size="9">
						Humedad
					</ion-col>
					<ion-col class="column-border" size="6">
						Gas
					</ion-col>
					<ion-col class="column-border" size="6">
						Fuego
					</ion-col>
					<ion-col size="8">
						<ion-button color="success" id="refresh-all" [disabled]="nuevosRegistros==0" (click)="verVehiculosActualizados(0,(registrosPendientes.length-1))">
							<ion-icon name="refresh-outline"></ion-icon>
							<p *ngIf="nuevosRegistros!=0">({{ nuevosRegistros }})<p>
						</ion-button>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-item>
		<ion-item *ngFor="let vehiculo of ultimosRegistrosVehiculos; let indice=index">
			<ion-grid class="grid-list">
				<ion-row class="register-row">
					<ion-col class="column-border" size="7">
						{{ vehiculo.IdVehiculo }}
					</ion-col>
					<ion-col class="column-border" size="9">
						<!--{{ vehiculo.placa}}-->AAA000
					</ion-col>
					<ion-col class="column-border" size="34">
						{{ vehiculo.Fecha }} - {{ vehiculo.Hora }}
					</ion-col>
					<ion-col class="column-border" size="10">
						{{ vehiculo.Peso }}
					</ion-col>
					<ion-col class="column-border" size="11">
						{{ vehiculo.Temperatura }}
					</ion-col>
					<ion-col class="column-border" size="9">
						{{ vehiculo.Humedad }}
					</ion-col>
					<ion-col class="column-border" size="6">
						{{ vehiculo.Gas }}
					</ion-col>
					<ion-col class="column-border" size="6">
						{{ vehiculo.Fuego }}
					</ion-col>
					<ion-col size="8">
						<ion-button color="success" [disabled]="!actualizacionDisponible[indice]" (click)="verVehiculosActualizados(indice,indice)"><ion-icon name="refresh-outline"></ion-icon></ion-button>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-item>
	</ion-list>
	<ion-infinite-scroll threshold="100px" (ionInfinite)="loadOlder($event)" id="infiniteScroll">
	    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
	    </ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>
