#toolbar{
	padding-top: 60px;
}
.ion-color-secondarysuccess {
  --ion-color-base: #d1ffdb;
  --ion-color-base-rgb: 209,255,219;
  --ion-color-contrast: #2dd36f;
  --ion-color-contrast-rgb: 45, 211, 111;
  --ion-color-shade: #b8e0c1;
  --ion-color-tint: #d6ffdf;
}

#titulo-cont{
	padding-left: 20px;
	font-size: 25px;
}

.label{
	font-size: 15px;
}

.estadistica{
	font-size: 25px;
}

.dato{
	font-size: 25px;
}

.titulo{
	margin-top: 25px;
	margin-bottom: 25px;
}